@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: rgb(58, 206, 191);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;

}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


#navbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    width: 100%;
    background: #f4f4f4;
    opacity: 0.4;
    height: 70px;
    padding: 0 30px;
    position: fixed;
    top: 0;
}
.hero{
    z-index: 100;
}

#navbar .logo {
    color: #000;
}
#navbar ul {
    display: flex;
}
#navbar a {
    color: #000;
    padding: 10px 20px;
    margin: 0 5px;
}
#navbar a:hover {
    color: var(--primary-color);
    border-bottom: #181d19 2px solid;
}
#navbar .logo:hover {
    color: var(--primary-color);
}



.hero {
    background: url(../img/showcasw.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}

#main-content {
    height: calc(100vh - 70px);
    width: 100%;
}
.content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.new {
    display: flex; 
    width: 40%;
}
.new .data {
    color: #000;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-end;
}
.new .data h1{
    font-size: 3rem;
}
.new .data p {
    font-size: 1.2rem;
}

/* About Page */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#about .about-top h1 {
    margin-top: 50px;
    font-size: 3rem;
}
#about .about-top p {
    color: #555;
    font-size: 1.3rem;
    line-height: 2rem;
}

#about .about-top img {
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
}

#about .about-middle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background: url(/img/p1.jpg) no-repeat center center/cover; 

}


.about-middle .progress {
    line-height: 2.6rem;
}
.progress-bar-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
#about .about-middle  h2 {
    font-size: 3rem;
}
.progress-bar-main label {
    font-size: 1rem;
}
.progress-bar-main progress {
    width: 300px;
}



.about-middle img {
    width: 100vw;
}

.about-middle h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.about-bottom {
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    background: rgb(58, 206, 191);
    align-items: center;
}

.about-bottom .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about-bottom i {
    font-size: 70px;
}
.about-bottom .box-content {
    font-size: 1rem;
}

/* Work */

.work {
    width: 100%;
    height: 100%;
}
.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    grid-template-areas: 
    'img-1 img-2 img-3 img-4'
    'img-5 img-6 img-7 img-8';
}
.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery a i {
    color: rgba(225,225,225,0.6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(225,225,225,0.6);
    border-radius: 0.4rem;
    opacity: 0;
    transition: opacity 0.5s;
}
.image-gallery a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.5s;
}
.image-gallery a:hover i,
.image-gallery a:hover::before {
    opacity: 1;
}
.img-1 {
    grid-area: img-1;
    background-image: url(/img/about1.jpg);
}
.img-2 {
    grid-area: img-2;
    background-image: url(/img/about2.jpg);
}
.img-3 {
    grid-area: img-3;
    background-image: url(/img/about3.jpg);
}
.img-4 {
    grid-area: img-4;
    background-image: url(/img/about4.jpg);
}
.img-5 {
    grid-area: img-5;
    background-image: url(/img/about5.jpg);
}
.img-6 {
    grid-area: img-6;
    background-image: url(/img/about6.jpg);
}
.img-7 {
    grid-area: img-7;
    background-image: url(/img/about7.jpg);
}
.img-8 {
    grid-area: img-8;
    background-image: url(/img/about8.jpg);
}




.work-object {
    background-color: #f4f4f4;
    height: 15vh;
    padding-top: 40px;
    align-items: center;
    text-align: center;
   
}
.work-object a {
    font-size: 1.2rem;
}
.work-object a:hover {
    color: orange;
}







/* Work Process */

.work-process {
    width: 100%;
}
.process-top {
    align-items: center;
    text-align: center;
    padding: 10px 30px;
    padding-top: 70px;
    line-height: 2.5rem;
}
.work-process .process-top img {
    width: 100%;
}
.process-top h2 {
    font-size: 2rem;
    font-weight: bold;
}
.process-top p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.process-top img {
    align-items: center;
    width: 60%;
    height: 70%;
}

/* testimoniols */
/* .testimoniolas {
    width: 100%;
    height: 100vh;
    background: #f4f4f4;
    
} */
.service .test-top {
    padding-top: 60px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-top: 129px;
    
}
.service .test-top i {
    padding: 15px;
    font-size: 4rem;
}
.service .test-top h4 {
    font-weight: 400;
    font-size: 1rem;
}
.service .test-top p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 38px;
}


.testimoniolas {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.testimoniolas .test-class {
    width: 100%;
}
.testimoniolas .test-middle {
    color: #fff;
    overflow: auto;
    background: rgb(58, 206, 191);
    height: 30%;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50vh;
    padding-top: 100px;
}
.testimoniolas .test-middle p {
    font-size: 1.4rem;
}
.testimoniolas .test-middle i {
    font-size: 1.5rem;
}
.test-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}
.testimoniolas .test-bottom i {
    font-size: 4rem;
}



/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 30px;
    background: #f5f5f5;
    width: 100%;
}
.contact .contact-top {
    padding-top: 20px;
    color: #000;
    text-align: center;
}
.contact .contact-top p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
    padding: 10px 50px;
}
.contact .contact-top h2 {
    margin-top: 46px;
    font-size: 2rem;
    font-weight: bold;
}

.contact-bottom {
    width: 100%;
    background: rgb(58, 206, 191);
}


.contact .callback-form {
    width: 100%;
    padding: 20px 0;
    
}
.callback-form .form-control-1 label {
    display: inline;
    margin-bottom: 5px;
}
.callback-form .form-control label {
    display: block;
    margin-bottom: 5px;
}
.callback-form .form-control {
    margin-bottom: 15px;
}
.callback-form .form-control-1 {
    margin-bottom: 15px;
}
.callback-form .form-control-1 input {
    padding: 4px;
    height: 40px;
    border: #f5f5f5 solid 1px;
}
.callback-form .form-control input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 solid 1px;
}
.callback-form .form-control textarea {
    padding: 4px;
    height: 100px;
    width: 100%;
    border: #f5f5f5 solid 1px;
}
.callback-form .btn {
    padding: 12px 10;
    margin-top: 20px;
}


/* Footer */
#footer {
    width: 100%;
}
.contact-bottom {
    color: #fff;
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.contact-bottom .content-box {
    font-size: 1rem;
}



@media(max-width: 768px) {
    #navbar {
        flex-direction: column;
        width: 100%;
        align-items: center;
        background: #333;
        opacity: 10;
    }
    #navbar .logo {
        display: none;
    }
    #navbar nav {
        padding-top: 18px;
    }
    #navbar a {
        padding-top: 10px;
        padding: 0;
        font-size: 0.6rem;
        color: #fff;
    }
    .content {
        justify-content: center;
        padding-top: 114px;
    }
   
    .new .data {
        text-align: center;
        justify-content: center;
    }
    .new .data h1{
        font-size: 2rem;
    }
    .new .data p {
        font-size: 1rem;
    }
    

    /* About */

    #about .about-top h1 {
        font-size: 2rem;
        padding-top: 20px;
    }
    #about .about-top p {
        font-size: 1rem;
    }
    #about .about-middle {
        align-items: center;
    }
    #about .about-middle h2 {
        font-size: 2rem;
    }
    #about .about-middle .progress-bar-main .progress-label {
        font-size: 1rem;
    }
    .progress-bar-main progress {
        width: 200px;
    }
    #about .about-bottom {
        display: flex;
        flex-direction: column;
    }
    #about .about-bottom .box {
        padding: 20px;
    }

    .about-bottom {
        height: 36vh;
        display: grid;
        width: 100%;
        background: rgb(58, 206, 191);

    }
    .about-bottom .box-1 {
        visibility: hidden;
    }
    .about-bottom .box-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .about-bottom i {
        font-size: 70px;
    }


    /* Image */

    .section-padding {
        padding: 20px 20px 40px;
    }
    .flex-grid {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .flex-grid .image-gallery {
        display: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
    .flex-grid  .img {
        flex: 100%;
        width: 10px;
        max-width: 48%;
        max-height: 12rem;
        padding: 0 4px;
    }
    /* Services */


    .service .test-top {
        display: flex;
        flex-direction: column;
    }
    /* .service .test-top .test-box-1 {
        visibility: hidden;
    } */
   

   .testimoniolas .test-middle {
       height: 120px;
   }
   .testimoniolas .test-middle {
       overflow: auto;
       font-size: .8rem;
       padding-top: 10px;
   }
   .testimoniolas .test-middle p {
       font-size: .7rem;
   }

   .testimoniolas .test-bottom i {
       font-size: 3rem;
    }
    .testimoniolas .test-bottom {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .testimoniolas .test-bottom i {
        font-size: 5rem;
        padding-bottom: 1rem;
    }

   .contact {
       width: 100%;
       height: 100%;
   }
   .contact .contact-top p {
       font-size: 1rem;
       padding-bottom: 10px;
   }
   .contact .contact-top h2 {
       padding-top: 50px;
       font-size: 2rem;
   }
   .contact .contact-middle {
       width: 100%;
       height: 40%;
   }

   .callback-form .form-control-1 label {
       display: block;
       margin-bottom: 5px;
    }
   .callback-form .form-control label {
       display: block;
       margin-bottom: 5px;
    }
   .callback-form .form-control {
       margin-bottom: 15px;
    }
   .callback-form .form-control-1 {
       margin-bottom: 15px;
    }
   .callback-form .form-control-1 input {
       width: 100%;
       padding: 4px;
       height: 40px;
       border: #f5f5f5 solid 1px;
    }
    .callback-form .form-control input {
        width: 100%;
        padding: 4px;
        height: 40px;
        border: #f5f5f5 solid 1px;
    }
    .callback-form .form-control textarea {
        padding: 4px;
        height: 100px;
        width: 100%;
        border: #f5f5f5 solid 1px;
    }
    .callback-form .btn {
        padding: 12px 10;
        margin-top: 20px;
    }

    #footer {
        height: 30%;
    }
    .contact-bottom {
        height: 82vh;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .contact-bottom .content-box {
        border-bottom: 2px solid #fff;
        width: 200px;
    }



}